<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omie\Sdk\Communication\OmieClientInterface"
                type="Omie\Sdk\Communication\OmieClient" />

    <preference for="Omie\Sdk\Service\Product\PriceTableServiceInterface"
                type="Omie\Sdk\Service\Product\PriceTableService" />
    <preference for="Omie\Sdk\Service\Product\OrderServiceInterface"
                type="Omie\Sdk\Service\Product\OrderService" />

    <preference for="Omie\Sdk\Service\General\ClientServiceInterface"
                type="Omie\Sdk\Service\General\ClientService" />
    <preference for="Omie\Sdk\Service\General\ProductServiceInterface"
                type="Omie\Sdk\Service\General\ProductService" />
    <preference for="Omie\Sdk\Service\General\BankAccountServiceInterface"
                type="Omie\Sdk\Service\General\BankAccountService" />
    <preference for="Omie\Sdk\Service\General\CategoryServiceInterface"
                type="Omie\Sdk\Service\General\CategoryService" />

    <preference for="Omie\Integration\Service\Sync\SaleRuleServiceInterface"
                type="Omie\Integration\Service\Sync\SaleRuleService" />
    <preference for="Omie\Integration\Service\Sync\CustomerServiceInterface"
                type="Omie\Integration\Service\Sync\CustomerService" />
    <preference for="Omie\Integration\Service\Sync\ProductServiceInterface"
                type="Omie\Integration\Service\Sync\ProductService" />
    <preference for="Omie\Integration\Service\Sync\OrderServiceInterface"
                type="Omie\Integration\Service\Sync\OrderService" />

    <preference for="Omie\Integration\Service\ProductAttributeServiceInterface"
                type="Omie\Integration\Service\ProductAttributeService" />

    <preference for="Omie\Integration\Helper\InstallmentsCalculatorInterface"
                type="Omie\Integration\Helper\InstallmentsCalculator" />

    <type name="Omie\Sdk\Communication\OmieClient">
        <arguments>
            <argument name="client" xsi:type="object">Omie\Sdk\Communication\Client</argument>
        </arguments>
    </type>
</config>
